@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import "colors";

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 13px;
  color: $foreground;
}
html, body {
  height: 100%;
}
.popup-ct {
  position: relative;
}
svg {
  flex-shrink: 0;
}
.nowrap {
  white-space: nowrap;
}
/*a {
  border-bottom: 1px solid;
  padding-bottom: 3px;

  &:hover {
    border-bottom: 0;
  }
}*/
#app {
  height: 100%;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}
