@import "../../common/styles/Auth";

/*--------------------
Signup
--------------------*/


.role-type
{
  width: 100%;
  padding: 30px 50px;
  display: flex;
  align-items: center;

  a {
    margin-right: 10%;
  }
}




